<form class="pure-form">
    <fieldset>
        <legend>Enter Your New task</legend>

        <input type="text" placeholder="Title">
        <input type="text" placeholder="Details">

        <label for="remember">
            <input id="remember" type="checkbox"> Remember me
        </label>

        <button type="submit" class="pure-button pure-button-primary">Update</button>
    </fieldset>
</form>
